
<script>

    function Create() {
        Loader.show();

        $.get("@Url.Action("Create")").done(function (res) {
            $("#CreateForm").html(res);
            Loader.hide();
        });
    }

    function getFormData(selector) {
        var $form = $(selector);
        const unindexedArray = $form.find(':input').serializeArray();
        const indexedArray = {};

        $.map(unindexedArray, function (n) {
            indexedArray[n.name] = n.value.trim();
        });

        return indexedArray;
    }

</script>

<a href="javascript:void(0);" onclick="Create();">Create</a>
<div id="CreateForm">
    
</div>